.button {
    background-color: teal;
    color: white;
    border: none;
    transition: 0.3s;
}

.buttons__button:active {
    color: rgb(51, 195, 195);
}

.tasks__button {
    background-color: green;
    width: 30px;
    height: 30px;
    text-decoration: none;
}

.tasks__button--toggleDone {
    background-color: green;
    width: 30px;
    height: 30px;
    color: white;
}

.tasks__button--remove {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background-color: red;
}


.js-remove {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    }