html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
   margin: auto;
  background-color: rgb(217, 209, 209);
  font-family: "Noto Sans", sans-serif;
  overflow-wrap: anywhere;
}


.js-form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap:10px;
}


@media(max-width: 767px) {
  .js__form {
      grid-template-columns: 1fr;
  }
}