html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
   margin: auto;
  background-color: rgb(217, 209, 209);
  font-family: "Noto Sans", sans-serif;
  overflow-wrap: anywhere;
}



