.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;

}

.tasks__content--done {
    text-decoration: line-through;
}


.tasks__button {
    background-color: green;
    width: 30px;
    height: 30px;
    text-decoration: none;
    transition: background 0.3s;
}

.tasks__button--toggleDone {
    background-color: green;
    width: 30px;
    height: 30px;
    color: white;
}

.tasks__button--remove {
    margin-left: auto;
    width: 30px;
    height: 30px;
    border: none;
    background-color: red;
    transition: background 0.3s;
}

.tasks__item--hidden {
    display: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.buttons__button {
    background: transparent;
    color: teal;
    border: none;
    margin: 0 0 0 20px;
    transition: color 0.3s;
}

@media(max-width: 767px){
.buttons__button {
    flex-basis: 100%;
    margin: 10px;
}}

.buttons__button:hover {
    color: hsl(180, 100%, 35%);
}

.buttons__button:disabled {
    color: #ccc;
}